{% extends 'base.html' %}

{% block head %}
<title>Rejestracja</title>
<style>
.mid-box{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
form div {
    text-align: center;
    margin-bottom: 15px;
}

label, input, button {
    display: block; /* Każdy element w nowym wierszu */
    width: 100%; /* Można dostosować szerokość */

}

input[type="radio"] {
    display: inline-block; /* Pozwala zachować radio obok siebie */
    width: auto;
}

button {
    width: auto; /* Przycisk nie zajmuje całej szerokości */
}

</style>
{% endblock %}

{% block body %}
<div class="mid-box">
    <form action="/register" method="POST">
        <div>
            <label for="user-input">Zarejestruj się: </label>
        </div>
        <div>
            <label>Wybierz jedno:</label>
            <input type="radio" id="private" name="user-type" value="private" required onclick="toggleNIP()" checked> Osoba prywatna
            <input type="radio" id="company" name="user-type" value="company" required onclick="toggleNIP()"> Firma
        </div>
        <div>
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div id="nip-field">
            <label for="nip">NIP</label>
            <input type="text" id="nip" name="nip">
        </div>
        <div>
            <label for="phone">Nr. tel</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <div>
            <label for="name" id="name-label">Imię</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div id="surn">
            <label for="surname">Nazwisko</label>
            <input type="text" id="surname" name="surname">
        </div>
        <div>
            <button type="submit">Zarejestruj</button>
        </div>
    </form>
    <div>
        <form action="/" method="POST">
            <button type="submit">Powrót</button>
        </form>
    </div>
    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
    {% endif %}
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <script>
        // Wyświetlanie alertu, jeśli jest komunikat o błędzie
        const errorMessage = "{{ error_message }}";
        if (errorMessage) {
            alert(errorMessage);
        }

        function toggleNIP() {
            const nipField = document.getElementById('nip-field');
            const privateOption = document.getElementById('private');
            const sur = document.getElementById('surn')
            const nameLabel = document.getElementById('name-label');
            if (privateOption.checked) {
                nipField.style.display = 'none'; // Ukryj pole NIP
                sur.style.display = 'block';
                nameLabel.textContent = 'Imię';
            } else {
                nipField.style.display = 'block';
                sur.style.display = 'none';
                nameLabel.textContent = 'Nazwa'; 
            }
        }

        // Wywołaj funkcję przy ładowaniu, aby ustawić stan początkowy
        document.addEventListener('DOMContentLoaded', toggleNIP);
    </script>
</div>
{% endblock %}

